@{
    var appSettings = System.Configuration.ConfigurationManager.AppSettings;
    var currentLocation = appSettings["siteName"];
    var appInsights = appSettings["appInsights"];
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@currentLocation</title>
        <link href="/Content/Site.css" rel="stylesheet" />
        <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <script src="/Scripts/modernizr-2.6.2.js"></script>
        <script src="/Scripts/jquery-1.8.2.min.js"></script>
        <meta name="description" content="The description of my page" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <script type="text/javascript">
    var appInsights = window.appInsights || function (config) {
        function s(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, r = document, f = window, e = "script", o = r.createElement(e), i, u; for (o.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", r.getElementsByTagName(e)[0].parentNode.appendChild(o), t.cookie = r.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) s("track" + i.pop()); return config.disableExceptionTracking || (i = "onerror", s("_" + i), u = f[i], f[i] = function (config, r, f, e, o) { var s = u && u(config, r, f, e, o); return s !== !0 && t["_" + i](config, r, f, e, o), s }), t
    }({
        instrumentationKey: "IELmdCgZzoLrpTMXpq+FilDalxo60Lr3mWIkyHsWhJJ78Bi0zIzQIznptORyijQJuoGXTpGrWCOGWAYflUkFMQ=="
    });

    window.appInsights = appInsights;
    appInsights.trackPageView();
        </script>

    </head>
    <body>
        <header id="banner">
            <p class="site-title"><a href="~/">Photo Gallery (@currentLocation)</a></p>
            <nav id="menu">
                <ul>
                    <li class="galleries"><a href="/" title="Galleries">Galleries</a></li>
                    <li class="tags"><a href="/Tag" title="Tags">Tags</a></li>
                    <li class="account"><a href="/User" title="Account">Account</a></li>
                </ul>
            </nav>
            <div id="login">
                @if (WebSecurity.IsAuthenticated)
                {
                    <span>
                        Welcome <strong>@WebSecurity.CurrentUserName</strong>!
                        <a href="~/Account/Logout" title="Logout">Logout</a>
                    </span>
                }
                else
                {
                    <a href="~/Account/Login" title="Login">Login</a>
                }
            </div>
        </header>
        <div id="body">
            @RenderBody()
        </div>
        <footer id="site-footer">
            &copy; @DateTime.Now.Year - Photo Gallery 
        </footer>
        @RenderSection("Scripts", required: false)
    </body>
</html>